<!doctype html> <html> <head>
    <title>Pneumothorax Detector</title>
     </head> <body style="background-color:Gray"> <div id="maintext" 
    style="position:absolute; margin:auto; width:500px; height:200px; text-align:center; top:0; bottom: 0.5; left: 0; right: 0;">
  <h2 class="text-light mb-2">Detection of Pneumothorax through AI</h2>
  <h5 class="text-light mb-5">(Please upload X-ray images in PNG )</h5>
  
  <div>
  <form method=post enctype=multipart/form-data>
     <p class="text-light">
        <input type="file" name="file" id="imageUpload" accept=".png"> 
        <input type=submit value=Detect>
      </p>
  </form> 
  <div class="image-section" style="display:none;">
    <div class="img-preview">
        <div id="imagePreview">
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
    </div>
  </div> 

</div> </body>
</html>
 
